.course-div {
  /* position: absolute; */
  width: 382px;
  height: 410px;
  left: 280px;
  top: 218px;

  /* background: #ffffff; */
  border-radius: 10px;
}

.course-search {
  /* position: absolute; */
  width: 320px;
  height: 40px;
  left: 280px;
  top: 151px;
}

.course-group {
  position: absolute;
  width: 281px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #252f6a;
}
.course-info {
  box-sizing: border-box;
  /* position: absolute; */
  width: 323px;
  height: 63px;
  left: 306px;
  top: 515px;
  border-bottom: 1px solid #e9ecef;
}

.course-enter {
  /* position: absolute;     */
  width: 125px;
  height: 40px;
  left: 410px;
  top: 566px;
}

.accordion-item{
    margin-bottom: 20px;
    overflow: hidden;
}

.accordion-button{
    box-shadow: none;
}

.accordion-button span{
    font-size: 18px;
    color: #686868;
    font-family: "Poppins";
    font-weight: 600;
}

.accordion-item:first-of-type{
    border-radius: 10px;
}

.accordion-item:not(:first-of-type){
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.accordion-button:not(.collapsed){
    background-color: #fff;
}

.acc_header_btn{
    right: 45px;
}


.global_btn{
    background: #252F6A;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
}

.add_module input[type=file]::file-selector-button {
    border: 1px solid #252F6A;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
    color: #252F6A;
    font-size: 13px;
}

.required_star{
    color: #EE4B63 !important;
}

.custom_form_control{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #323133;
    padding: 10px 20px;
    border: 2px solid #CED4DA;
    border-radius: 5px;
}

.control-label{
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins";
    color: #686868;
}

.badge{
    border-radius: 3px !important;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    min-width: 75px;
    /* width: 100%; */
    max-width: 80px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge_active{
    background: #CCF0E3 !important;
    color: #34C38F;
}

.badge_deactive{
    background: #F2F2F2 !important;
    color: #6A7187;
}

/* .form-check-input{
    background-color: #32BDA7;
    border-radius: 25px;
    width: 26px;
    height: 16px;
} */


/* DETAILS PAGE STYLING BEGINS */

.profile_name{
    font-size: 20px;
    color: #323133;
    font-weight: 600;
    font-family: 'Poppins';
}

.profile_email{
    font-size: 14px;
    color: #323133;
    font-weight: 500;
    font-family: 'Poppins';
}

.info_badge{
    background-color: #CCF0E3;
    border-radius: 20px;
    /* max-width: 185px; */
    text-align: center;
    padding: 3px 20px;
}

.info_badge span{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #34C38F;
}

.custom_card{
    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0px 10px 20px rgba(18, 38, 63, 0.031));
    margin-bottom: 24px;
    padding-bottom: 30px;
}

.cover_pic{
    height: 107px;
    background-color: #E7F3F8;
}

.profile_pic{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 150px;
    overflow: hidden;
    background-color: #000;
    position: absolute;
    top: -75px;
    left: 30px;
}

.profile_info{
    margin-top: 80px;
    padding-left: 40px;
}

.sun_heading{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #252F6A;
}

.sub_heading{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #252F6A;
}

.lbl_empty_content{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #495057;
}

.btn_outline{
    background: #E0E5FA;
    border-radius: 7px;
    border: 1px solid #252F6A;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #252F6A;
}

.btn_outline_bgwhite{
    background: #fff;
    border-radius: 7px;
    border: 2px solid #252F6A;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #252F6A;
}

.para{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #323133;
}

.sm_title{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #686868;
}

.sm_content{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #323133;
}

/* DETAILS PAGE STYLING END */


/* CUSTOM SWITCH TOGGLE STYLE BEGIN */

.form-switch .form-check-input {
    height: 16px;
    width: 26px;
    background-color: #D1D5DB;
    border-color: #D1D5DB;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #32BDA7;
    border-color: #32BDA7;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

/* CUSTOM SWITCH TOGGLE STYLE END */

.action_container .mdi{
    cursor: pointer;
}

.action_container .mdi-eye-outline{
    color: #F89752;
}

.btn_pagination{
    background-color: #fff !important;
    padding: 9px 13px;
    border: 1px solid #CED4DA;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #46474f !important;
    cursor: pointer !important;
    pointer-events: all !important;
}

.pagination_curr_page{
    padding: 8px 13px;
    border: 1px solid #252F6A;
    background-color: #252F6A;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #fff;
}

.custom_searchbox{
    border-radius: 5px !important;
    border: 1px solid #CED4DA;
}

.question_number{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #252F6A;
}

.lbl_question_container{
    border-bottom: 1px solid #CED4DA;
}

.lbl_question_options{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #74788D;
}

.question_option_input{
    border: 1px solid #A6B0CF;
    background-color: #fff !important;
    border-radius: 6px;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    height: 44px;
}

.question_option_radio{
    border: 2px solid #A6B0CF;
    height: 25px;
    width: 25px;
}

.question_text{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #3D3D3D;
    text-transform: capitalize;
}

.question_answer{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #495057;
    text-transform: capitalize;
}

.skill_tag{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #3D3D3D;
    text-transform: capitalize;
    background-color: #F2F2F2;
    padding: 6px 20px;
    border-radius: 25px;
    margin: 0 20px 20px 0;
    white-space: nowrap;
    display: inline-block;
}

.post_name{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #252F6A;
}

.employer_name{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #323133;
}

.work_time{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #686868;
}

.employee_extra_info{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #323133;
}

.full_devider{
    border: 1px solid #E8DEDE;
}

.resume_name{
    color: #323133;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

.resume_name span{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #686868;;
}

.edit_blue_icon{
    color: #556ee6;
}

.delete_red_icon{
    color: #F89752;
}




